In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

# Comulative rainfall and GNSS

- Rainfall from gauge 1

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
loggerfile = 'Table1.csv'
dtstart = '2019-01-17T23:10:00'

**Read data**

In [5]:
df = pd.read_csv(loggerfile, parse_dates=True, index_col = 'Datetime')

#Use only data after logger was installed
data = df[df.index>=dtstart]

In [6]:
data.head()

,RecNbr,LoggerName,SupplyVolts,LithiumVolts,PTemp_degC,Rain1_mm_Tot,Rain2_mm_Tot,nmbr_satellites_Avg,latitude_a,latitude_b,longitude_a,longitude_b,speed,course,altitude
Datetime,,,,,,,,,,,,,,,
2019-02-06 13:10:00,0,FoxLandslide,12.11,3.648,20.879999,0.0,0.0,0.0,0,0,0,0,0,0,0
2019-02-06 13:20:00,1,FoxLandslide,12.10,3.647,20.480000,0.2,0.0,0.0,0,0,0,0,0,0,0
2019-02-06 13:30:00,2,FoxLandslide,12.11,3.655,20.260000,0.0,0.0,0.0,0,0,0,0,0,0,0
2019-02-06 13:40:00,3,FoxLandslide,12.11,3.657,20.139999,0.0,0.0,0.0,0,0,0,0,0,0,0
2019-02-06 13:50:00,4,FoxLandslide,12.10,3.656,20.000000,0.0,0.0,0.0,0,0,0,0,0,0,0

**Cumulative rainfall**

In [7]:
data['cumulative_rain'] = data['Rain1_mm_Tot'].cumsum()
data.head()

,RecNbr,LoggerName,SupplyVolts,LithiumVolts,PTemp_degC,Rain1_mm_Tot,Rain2_mm_Tot,nmbr_satellites_Avg,latitude_a,latitude_b,longitude_a,longitude_b,speed,course,altitude,cumulative_rain
Datetime,,,,,,,,,,,,,,,,
2019-02-06 13:10:00,0,FoxLandslide,12.11,3.648,20.879999,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0
2019-02-06 13:20:00,1,FoxLandslide,12.10,3.647,20.480000,0.2,0.0,0.0,0,0,0,0,0,0,0,0.2
2019-02-06 13:30:00,2,FoxLandslide,12.11,3.655,20.260000,0.0,0.0,0.0,0,0,0,0,0,0,0,0.2
2019-02-06 13:40:00,3,FoxLandslide,12.11,3.657,20.139999,0.0,0.0,0.0,0,0,0,0,0,0,0,0.2
2019-02-06 13:50:00,4,FoxLandslide,12.10,3.656,20.000000,0.0,0.0,0.0,0,0,0,0,0,0,0,0.2

**GNSS**

In [16]:
url = 'https://fits.geonet.org.nz/observation?siteID=FOX1&typeID=n'
gnss = pd.read_csv(url, parse_dates=True, index_col = 'date-time')

In [17]:
gnss.head()

                      n (mm)   error (mm)
date-time
2019-02-06 11:59:00 -4830.57         2.77
2019-02-07 11:59:00 -4708.58         2.51
2019-02-08 11:59:00 -4603.14         2.67
2019-02-09 11:59:00 -4509.21         2.73
2019-02-10 11:59:00 -4428.89         2.93

In [24]:
gnss['diff'] = gnss[' n (mm)'] - gnss[' n (mm)'].iloc[0]

In [25]:
gnss.head()

                      n (mm)   error (mm)    diff
date-time
2019-02-06 11:59:00 -4830.57         2.77    0.00
2019-02-07 11:59:00 -4708.58         2.51  121.99
2019-02-08 11:59:00 -4603.14         2.67  227.43
2019-02-09 11:59:00 -4509.21         2.73  321.36
2019-02-10 11:59:00 -4428.89         2.93  401.68

In [ ]:
fig,ax = plt.subplots(1, 1, figsize=(15,8))
data['cumulative_rain'].plot(ax=ax)
ax.set_title('Cumulative rainfall and GNSS northward movement')
ax.set_ylabel('Rainfall (mm)')

ax2 = ax.twinx()
gnss['diff'].plot(ax=ax2, color='red')

fig.savefig('rain_cumulative.png')